[submodule "ext/structarray"]
	path = ext/structarray
	url = http://sma6299.eu.eurocopter.corp/gitea/ETGGC/structarray.git
[submodule "ext/cc_pathlib"]
	path = ext/cc_pathlib
	url = https://sma6299.eu.eurocopter.corp/gitea/ETGGC/cc_pathlib.git
