[submodule "ext/structarray"]
	path = ext/structarray
	url = https://github.com/yota-code/structarray.git
[submodule "ext/cc_pathlib"]
	path = ext/cc_pathlib
	url = https://github.com/yota-code/cc_pathlib.git
